<h1>Sign Up</h1>
<%= form_for @user do |f|%>

  <%= f.label :firstname %><br>
  <%= f.text_field :firstname, class: "border" %><br>

  <%= f.label :lastname %><br>
  <%= f.text_field :lastname, class: "border" %><br>

  <%= f.label :email %><br>
  <%= f.text_field :email, class: "border" %><br>

  <%= f.label :username %><br>
  <%= f.text_field :username, class: "border" %><br>

  <%= f.label :password %><br>
  <%= f.password_field :password, class: "border" %><br>

  <%= f.submit %>
<%end%>